<div class="show_team_mate">
  <div class="container">
    <h1><%= "Hi #{current_user.has_profile? ? current_user.full_name : current_user.email}!"  %></h1>
    <%= "Your team mate for today will be:"  %>
    <strong><% if current_user == @pair.student_one %>
      <%= "#{@pair.student_two.has_profile? ? @pair.student_two.full_name : @pair.student_two.email}" %>
    <% else %>
      <%= "#{@pair.student_one.has_profile? ? @pair.student_one.full_name : @pair.student_one.email}" %>
    <% end %></strong>
  </div>

  <div class="container">
    <div class="profile_picture">
      <%= @pair.student_one.has_profile? ? image_tag(@pair.student_one.profile.profile_picture) : image_tag("https://goo.gl/TiWzUR") %>
      <%= image_tag("https://goo.gl/X4dtFs") %>
      <%= @pair.student_two.has_profile? ? image_tag(@pair.student_two.profile.profile_picture) : image_tag("https://goo.gl/TiWzUR") %>
    </div>
    <div class="container">
      <% unless current_user.has_profile? %>
        <%= "Please create a profile, and upload a recognizable picture of yourself!" %>
      <% end %>
    </div>
  </div>
</div>
