<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ultimate Teams</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if !user_signed_in? %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In</a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#"><%= link_to "Log In", new_user_session_path %></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><li><%= link_to "Sign Up", new_user_registration_path %></a></li>
          </ul>
        </li>

        <% elsif current_user.is_admin? %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Teams", pairs_path %></li>
            <% if current_user.has_profile? %>
              <li><a href="#"><%= link_to "Edit Profile", edit_profile_path(current_user.profile) %></a></li>
              <% else %>
              <li><a href="#"><%= link_to "Create Profile", new_profile_path %></a></li>
              <% end %>
              <li><%= link_to "Change Password", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>

        <% else %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% if current_user.has_profile? %>
              <li><a href="#"><%= link_to "Edit Profile", edit_profile_path(current_user.profile) %></a></li>
              <% else %>
              <li><a href="#"><%= link_to "Create Profile", new_profile_path %></a></li>
              <% end %>
              <li><%= link_to "Change Password", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>
